@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome To Trash Collector Inc.</h1>
        <p class="lead">Trash Collector Inc. is a strong company capable of handling any of your hypothetical trash collection needs. Whether you are in need of hypothetical trash collection or in need of a hypothetical job we can help. Sign Up to get started today!</p>
     <body style="background-image:url(http://www.fortwright.com/Portals/fortwright/Images/News/Trash.jpg); background-size: cover"></body>
