@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "MakePayment";
}

<h2>Thank You</h2>

<div>


     <h8>Thank you for your payment. Your balance is now $0.00</h8>


</div>
<p>
    @Html.ActionLink("Make Payment", "MakePayment") |
    @Html.ActionLink("Back to Home", "Index")
</p>
